<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VLAST Shop - 게시판</title>
  <style></style>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/list_style.css">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script></script>
</head>
<body>

  <!-- Header -->
  <div class="header">
    <div class="top-menu">
      <a href="#">회원가입</a> |
      <a href="#">로그인</a> |
      <a href="#">주문조회</a> |
      <a href="#">최근본상품</a>
    </div>
    <div class="icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-shopping-bag"></i>
    </div>
  </div>

  <!-- Board List -->
  <div class="board-container">
    <div class="board-title">공지사항</div>
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
      {% if list %}
        {% for b in list %}
          <tr>
            <td>{{b.bno}}</td>
              <td class="title">
                <a href="">{{b.btitle}}</a>
              </td>
              <td>{{b.member.name}}</td>
              <td class="date">{{b.bdate}}</td>
              <td class="views">{{b.bhit}}</td>
          </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan='5'>게시글이 없습니다.</td>
        </tr>
      {% endif %}  
      </tbody>
    </table>
    
    <!-- Write Button -->
    <div class="write-box">
      <a href="/board/write/" class="write-btn">글쓰기</a>
    </div>

    <!-- Pagination & Search -->
    <div class="board-footer" >
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="search-box">
            <input type="text" placeholder="검색어 입력">
            <button>검색</button>
        </div>
    </div>
    
  </div>


  <!-- Footer -->
  <footer>
    Copyright © VLAST Shop. All rights reserved.
  </footer>

</body>
</html>
